    .cabeçario {
   
        background-color:#f30769;  
     color: white;
   display: flex;
    justify-content: space-around;
 }


 .cabeçario-imagem { 
 width: 20%;

 }
 
 .cabeçario-item-lista {
    display: inline-block;
 }

